/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

body {
    background-color: #ECECEC;
}

.c-card{
    background-color: #fff;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 40px -10px rgba(0, 0, 0, 0.05);
}

@media (min-width: 1200px) {
    .c-card {
        width: 33.33333%
    }
}

.c-primary-button{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #0072c6;
}

.c-primary-button:hover {
    background-color: #ffa500;
}

/*.container {
  width: 2000px;
  height: 300px;
  background-color: #fff;
  color: #f2f2f2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}*/

/*.mb-3 {
  font-size: 24px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid black;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}*/