{% extends "layout.html" %}

{% block title %}
    Available Databases
{% endblock %}

{% block main %}
<div class="c-card w-50" >
    <form action="/createdb" method="post">
        <div class="inp">
        <input type="text" class="form-control form-control-lg mx-auto w-100" name="dbname" autofocus autocomplete="off" placeholder="Database Name">
        <br>
        <button class="btn btn-primary c-primary-button mb-4 mt-4 mx-auto w-100 fw-bold"  type="submit"><b>Create</b></button>
        </div>
    </form>
</div>
{% endblock %}
