{% extends "layout.html" %}

{% block title %}
    Edit Database
{% endblock %}


{% block main %}
<div class="c-card w-50 mb-5">
    <form action="/editdb" method="post" style="display: flex; gap: 1rem;">
        <select name="tables" class="form-select mx-auto w-100" aria-label="Tables">
            <option disabled selected style="text-align:center">Table</option>
            {% for tbname in tbnames %}
            <option value="{{ tbname.name }}" style="text-align:center;">{{ tbname.name }}</option>
            {% endfor %}
        </select>
        <br>
        <button class="btn btn-primary c-primary-button mx-auto w-50 fw-bold" type="submit">Select</button>
    </form>

    <div style="display: flex; gap: 0.5rem; margin-top: 3rem;">
        <a style="flex: 1;" href="createtb" class="btn btn-success col-md-4 order-1">Create
            Table
        </a>
        <a style="flex: 1;" href="deletetb" class="btn btn-danger col-md-4 order-2">Delete
            Table
        </a>
    </div>
</div>

<hr style="border-top: 5px solid #033457; border-radius: 3px;" class="mb-5">

<form action="/delrow" method="post" id="delrow"></form>
<form action="/addrow" method="post" id="addrow"></form>



    <table class="table table-striped thead-dark table-hover    ">
        <thead id="thh" style="background-color: #0072c6; color: white; border: 1px white;">

        </thead>
        <tbody id="tbb">

        </tbody>
    </table>

<script>
    window.onload = main();
    function main() {
        body = document.getElementsByTagName('body')[0];
        table = document.getElementsByClassName('table')[0];
        thead = document.getElementById('thh');
        tbody = document.getElementById('tbb');
        {% for i in range(data_len) %}
            tmp = document.createElement('form')
            form_id = 'form' + "{{ data[i][keys[0]] }}"
            tmp.setAttribute("action", "/editrow")
            tmp.setAttribute("method", "POST")
            tmp.setAttribute("id", form_id)
            body.appendChild(tmp);
        {% endfor %}


        {% for i in range(1,row_len) %}
            tmp = document.createElement('th');
            tmp.innerHTML = "{{ keys[i] }}";
            thead.appendChild(tmp);
        {% endfor %}


        console.log(thead)

        {% for j in range(data_len) %}
            i = 1;
            tr_id = "tr" + "{{ data[j][keys[0]] }}";
            tmp_tr = document.createElement('tr');
            tmp_tr.setAttribute("id", tr_id);
            form_id = 'form' + "{{ data[j][keys[0]] }}";

            {% for i in range(1,row_len) %}
                tmp_td = document.createElement('td');
                txt_name = 'txt' + i.toString();
                {% if dtypes[i]["type"] == 'INTEGER' %}
                    tmp_td.innerHTML = '<input type="number" name="' + txt_name +'" autocomplete="off" form="' + form_id + '" class="form-control mx-auto w-auto" value="{{ data[j][keys[i]] }}">';
                {% elif  dtypes[i]["type"] == 'REAL' or dtypes[i]["type"] == 'NUMERIC' %}
                    tmp_td.innerHTML = '<input type="number" step="any" name="' + txt_name +'" autocomplete="off" form="' + form_id + '" class="form-control mx-auto w-auto" value="{{ data[j][keys[i]] }}">';
                {% else %}
                    tmp_td.innerHTML = '<input type="text" name="' + txt_name +'" autocomplete="off" form="' + form_id + '" class="form-control mx-auto w-auto" value="{{ data[j][keys[i]] }}">';
                {% endif %}
                tmp_tr.appendChild(tmp_td);
                i++;
            {% endfor %}
            console.log(tmp_tr);

            tmp_td = document.createElement('td');
            btn_value = "{{ data[j][keys[0]] }} {{ table }}";
            tmp_td.innerHTML = '<button type="submit" name="delbtn" value="' + btn_value + '" class="btn btn-primary" form="delrow">Delete</button>';
            tmp_tr.appendChild(tmp_td);
            tmp_td = document.createElement('td');
            tmp_td.innerHTML = '<button type="submit" name="editbtn" value="' + btn_value + '" class="btn btn-primary" form="' + form_id + '">Edit</button>';
            tmp_tr.appendChild(tmp_td);
            console.log(tmp_tr);

            tbody.appendChild(tmp_tr);
        {% endfor %}

        console.log(tbody)

        table.appendChild(thead);
        table.appendChild(tbody);

        {% if data_len > 0 %}
            k = 1;
            tmp_tr = document.createElement('tr');
            {% for i in range(1,row_len)%}
                tmp_td = document.createElement('td');
                txt_name = 'txt' + k.toString();
                {% if dtypes[i]["type"] == 'INTEGER' %}
                    tmp_td.innerHTML = '<input type="number" name="' + txt_name + '" autocomplete="off" form="addrow" class="form-control mx-auto w-auto" value="">';
                {% elif  dtypes[i]["type"] == 'REAL' or dtypes[i]["type"] == 'NUMERIC' %}
                    tmp_td.innerHTML = '<input type="number" step="any" name="' + txt_name + '" autocomplete="off" form="addrow" class="form-control mx-auto w-auto" value="">';
                {% else %}
                    tmp_td.innerHTML = '<input type="text" name="' + txt_name + '" autocomplete="off" form="addrow" class="form-control mx-auto w-auto" value="">';
                {% endif %}
                tmp_tr.appendChild(tmp_td);
                k++;
            {% endfor %}
            tmp_td = document.createElement('td');
            tmp_td.setAttribute('colspan', '2')
            tmp_td.innerHTML = '<button type="submit" name="addbtn" value="{{ table }}" class="btn btn-primary" form="addrow">Add</button>';
            tmp_tr.appendChild(tmp_td);
            tbody.appendChild(tmp_tr);
        {% endif %}

    }

    function deleteRow(id) {
        tr_id = 'tr' + id;
        console.log(tr_id);

        tr = document.getElementById(tr_id);
        console.log(tr);
        tr.parentNode.removeChild(tr);
    }
</script>

{% endblock %}
