{% extends "layout.html" %}

{% block title %}
Log In
{% endblock %}

{% block main %}
<div class="column c-card justify-content-center align-items-center rounded">

    <p class="fw-bold mb-4" style="font-size: 1.75rem; color: #0072c6;">Enter Your Credentials</p>
    <form action="/login" method="post">
        <div class="row p-1">
            <input autocomplete="off" autofocus class="form-control mx-auto"
                id="username" name="username" placeholder="Username" type="text" required>
        </div>
        <div class="row p-1">
            <input class="form-control mx-auto" id="password" name="password"
                placeholder="Password" type="password" required>
        </div>
        <button class="btn btn-primary c-primary-button mb-4 mt-4 mx-auto w-100 fw-bold" type="submit">Log In</button>
        <p>Don't have an account? <a href="/register">Register</a></p>
    </form>
</div>
{% endblock %}