{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <div class="column my-custom-column justify-content-center align-items-center rounded"  id="regdiv">
        <form action="/register" method="post">
            <p class="fw-bold fc-black mb-5" style="font-size: 52px; color: #0072c6;">Enter Your Credentials</p>
            <div class="mb-3 row p-1"><input name="username" type="text" class="form-control my-custom-text form-control-lg mx-auto w-50" autofocus autocomplete="off" placeholder="Username"><br></div>
            <div class="mb-3 row p-1"><input name="password" type="password"  class="form-control my-custom-text form-control-lg mx-auto w-50" autocomplete="off" placeholder="Password"><br></div>
            <div class="mb-3 row p-1"><input name="confirmation" type="password"  class="form-control my-custom-text form-control-lg mx-auto w-50" autocomplete="off" placeholder="Password Confirmation"><br></div>
            <button class="btn btn-primary my-custom-button mb-4 mt-5 mx-auto w-50"  type="submit"><b>Register</b></button>
        </form>
    </div>

{% endblock %}
