{% extends "layout.html" %}

{% block title %}
Register
{% endblock %}

{% block main %}
<div class="column c-card justify-content-center align-items-center rounded" id="regdiv">

    <form action="/register" method="post">
        <p class="fw-bold mb-4" style="font-size: 1.75rem; color: #0072c6;">Enter Your Credentials</p>

        <div class="row p-1">
            <input name="username" type="text" class="form-control my-custom-text mx-auto"
                autofocus autocomplete="off" placeholder="Username" required>

        </div>

        <div class="row p-1">

            <input name="password" type="password" class="form-control my-custom-text mx-auto"
                autocomplete="off" placeholder="Password" required>

        </div>

        <div class="row p-1">

            <input name="confirmation" type="password" class="form-control my-custom-text mx-auto"
                autocomplete="off" placeholder="Password Confirmation" required>

        </div>

        <button class="btn btn-primary c-primary-button mb-4 mt-4 mx-auto w-100 fw-bold" type="submit">Register</button>
        <p>Already have an account? <a href="/login">Login</a>.</p>
    </form>
</div>

{% endblock %}